{% extends 'base.html.twig' %}

{% block title %}Category - minishop{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>{{ category.name }}</h1>

        <p>{{ category.products|length }} product(s)</p>

        <div class="row">
            {% for product in category.products %}
                <div class="col-md-3 text-center">
                    <a href="{{ path('app_product', { slug : product.slug }) }}" class="text-decoration-none">
                        <img src="/uploads/{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
                        <span class="d-block fw-bold text-black">{{ product.name }}</span>
                    </a>
                    <span class="d-block">{{ product.pricewt }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
