{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Sign In - minishop{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-3">Sign In</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" class="form-control mb-3" id="username" name="_username" value="{{ last_username }}" required>

            <label for="password">Password:</label>
            <input type="password" class="form-control mb-3"  id="password" name="_password" required>

            <input type="hidden" name="_target_path" value="{{ path('app_profile') }}">

            <button type="submit" class="btn btn-success">Sign In</button>
        </form>
        <br>
        Don't have an account yet? <a href="{{ path('app_register') }}">Sign Up</a>
    </div>
{% endblock %}